div.fw-background {
	position: absolute;
	top: -677px;
	left: 0;
	widows: 100%;
	height: 800px;
	background: linear-gradient(to right, #3a7fd5, #6ebce2);
	transform: skew(0, -1.5deg);
	transform-origin: bottom left;
	box-shadow: inset 0 -3px 10px rgba(0, 0, 0, 0.1);
}

td.details-control {
	text-align: center;
	/* color: forestgreen; */
	cursor: pointer;
}

tr.shown td.details-control {
	text-align: center;
	/* color: red; */
}

th {
	font-size: 12px;
	color: white;
}

tr {
	font-size: 12px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #dce6f1;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
	background-color: #edf2f7;
}

table.privilege th {
	color: white;
	font-size: 9pt;
	text-align: left;
}

table.privilege thead tr {
	background-color: #4f81bd;
}

table.privilege tr {
	line-height: 20px;
	min-height: 20px;
	height: 20px;
	font-size: 10pt;
}

table.search_product tr {
	font-size: 13px;
}

table.search_product th {
	color: black;
	font-size: 13px;
	text-align: left;
}

table.nie-detail tr {
	font-size: 13px;
}

table.table-borderless tr {
	font-size: 13px !important;
}

table.uploaded-doc-submission tr {
	font-size: 10pt !important;
}

table.table-bordered tr {
	font-size: 10pt;
}

table.table-bordered th {
	font-size: 10pt;
	color: black;
}

table.sub-document tr {
	font-size: 10pt;
}

table.sub-document td {
	width: 10%;
}

table.sub-document {
	width: 100%;
}

table.sub-document tbody {
	display: block;
	max-height: 400px;
	overflow-y: auto;
	width: 100%;
}

table.sub-document-bpom tr {
	font-size: 10pt;
}

table.sub-document-bpom {
	width: 100%;
}

table.sub-document-bpom tbody {
	display: block;
	max-height: 200px;
	overflow-y: auto;
	width: 100%;
}

table.file-list-submission tbody {
	display: block;
	max-height: 165px;
	overflow-y: auto;
	width: 100%;
}

table.file-list-submission tr {
	font-size: 10pt;
}

table.nie-detail th {
	color: black;
	font-size: 13px;
	text-align: left;
}

table.nie-detail {
	border-spacing: 2px;
}

table.nie-detail td {
	padding: 2px;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1300px;
	}
}

table.dataTable thead tr {
	background-color: #4f81bd;
}

.stripe1 {
	background-color: #dce6f1;
}

.stripe2 {
	background-color: #edf2f7;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: #b8cce4;
}

table.dataTable tbody tr.selected {
	color: white !important;
	background-color: #ffffbb !important;
}

div.dataTables_length label {
	font-size: 14px;
}

div.dataTables_info {
	font-size: 14px;
	font-style: italic;
}

/*Datatable pagination button color*/

/* .pagination .page-item.active .page-link {
    background-color: #17a2b8;
  } */

.normal {
	width: 100%;
	border: 0px;
	background-color: transparent;
	/* padding-left: 70px; */
}

.pointer {
	cursor: pointer;
}

.card-header {
	color: white;
	font-size: 17px;
	font-weight: bold;
	background-color: #4f81bd;
}

.card-body {
	background-color: #edf2f7;
}

#by_alert,
#by_unit,
#by_trans,
#by_product_type {
	width: 100%;
	height: 320px;
}

.required {
	color: red;
}

.searching-row {
	color: black;
}

body {
	counter-reset: section;
	/* font-family: 'Varela Round', sans-serif; */
}

.count:before {
	counter-increment: section;
	content: counter(section);
}

.ui-autocomplete {
	max-height: 100px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

/* IE 6 doesn't support max-height*/

* html .ui-autocomplete {
	height: 100px;
}

.scroll {
	max-height: 300px;
	overflow-y: auto;
}

.filter-alert {
	border-radius: 5px;
	border: 1px solid #ced4da;
	padding: 2px;
	width: 200px;
	height: 30px;
}

.modal-lg {
	max-width: 90% !important;
}

.hidden_row {
	padding: 0 !important;
}

.popover {
	max-width: 100% !important;
	/* Max Width of the popover (depending on the container!) */
}

.fileNameSubmission {
	width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Ganti Datatables sorting icon */

/* table.dataTable thead .sorting::after,
  table.dataTable thead .sorting_asc::after {
    display: none;
  }

  table.dataTable thead .sorting_desc::after {
    display: none;
  }

  table.dataTable thead .sorting {
    background-image: url(https://datatables.net/media/images/sort_both.png);
    background-repeat: no-repeat;
    background-position: center right;
  }

  table.dataTable thead .sorting_asc {
    background-image: url(https://datatables.net/media/images/sort_asc.png);
    background-repeat: no-repeat;
    background-position: center right;
  }

  table.dataTable thead .sorting_desc {
    background-image: url(https://datatables.net/media/images/sort_desc.png);
    background-repeat: no-repeat;
    background-position: center right;
  } */
